<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="oledb" connectionString="Provider=sqloledb;Data Source=SOFTWARE02\SQLEXPRESS;Initial Catalog=SOFTEALDB;User Id = softeal; Password = excalibur;"/>
    <add name="mysql" connectionString="Server=localhost;Port=3306;Database=softealdb;Uid=softeal;Pwd=excalibur;"/>
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
